#main-wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

/* Front page artikler layout */
#frontpage-articel article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #efe0e0;
  margin: 1rem;
  max-width: 90ch;
  padding: 2rem 0 2rem 0;
  p {
    font-size: 1.1rem;
  }
  img {
    padding: 18px;
  }
  h2 {
    background-color: var(--color-headline-bg);
    color: var(--color-text-inverted);
    font-size: 1.3rem;
    max-height: 2.5rem;
    display: flex;
    align-items: center;
    font-family: Hammersmith;
  }
}

.frontpage-text {
  display: grid;
  gap: 0.2rem;
}

/* knappernes udsene */
.knap {
  background-color: var(--color-cta-knap);
  color: #fff;
  font-size: 1rem;
  gap: 2px;
  max-width: 35ch;
  max-height: 4ch;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
}

.knap::after {
  content: " →";
  margin-left: 20px;
}

button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

/* News sektion */
.frontpage_news {
  display: grid;
  background-color: #efe0e0;
  margin: 2rem;
  h4 {
    margin: 3rem;
  }
}

#news_headliner {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  display: block;
  text-align: center;
  padding: 0.6rem;
  font-family: Hammersmith;
}

/* headeren */
#top-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 1rem;
  font-family: "RubikMonoOne";
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 24px;
  }
}

#top-section-wrapper {
  background-color: var(--color-head-bg);
  p {
    color: var(--color-text-inverted);
  }
}

/* popover */
[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 90vw;
  width: 50ch;
}

[popover] button {
  position: sticky;
  top: 0;
  justify-self: end;
}

:popover-open {
  display: grid;
  align-self: center;
}

::backdrop {
  background: #0001;
}

[popover] {
  opacity: 0;
  transition: 1s allow-discrete;
}

:popover-open {
  opacity: 1;
}

@starting-style {
  :popover-open {
    opacity: 0;
  }
}

::backdrop {
  opacity: 0;
  transition: 1s allow-discrete;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}

/* accordion design */

.accordin_section {
  padding: 25px;
  max-width: 95ch;
  margin-left: 1rem;
}

details {
  outline: 2px solid #000;
  margin-bottom: 10px;
}

summary {
  background: #ffc5c5;
  cursor: pointer;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.content p {
  margin: 0;
}

summary::marker {
  content: none;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

summary::after {
  content: "+";
}

[open] summary::after {
  content: "-";
}

html {
  interpolate-size: allow-keywords;
}

::details-content {
  height: 0;
  transition: 0.5s allow-discrete;
  overflow: clip;
}

[open]::details-content {
  height: auto;
}

/* dark mode */

html /*eller :root*/ {
  --color-scheme: light dark;
  --color-brand: light-dark(#5000ca, #bb86fc);
  --bg-primary: light-dark(#eee, #121212);
}

html.dark {
  color-scheme: dark;
}

#theme-toggle {
  --h: 2rem;
  --w: 3rem;
  font: inherit;
  appearance: none;
  background: gainsboro;
  height: var(--h);
  width: var(--w);
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 9999px;
}

#theme-toggle::before {
  content: "";
  display: block;
  height: 100%;
  aspect-ratio: 1;
  background: gray content-box;
  border-radius: inherit;
  transition: 0.3s;
}

#theme-toggle:checked::before {
  background-color: green;
  translate: calc(var(--w) - var(--h));
}
